*.asp
*.bak
*.dll
*.dsp
*.dylib
*.exe
*.exp
*.idb
*.ilk
*.kdevelop*
*.kdevses
*.la 
*.lib
*.lnk
*.lo 
*.log
*.map
*.mod
*.ncb
*.o 
*.obj
*.old
*.opt
*.orig
*.out
*.pch
*.pdb
*.plg
*.res
*.suo
*.swp
*.sym
*.tmp
*/i386-*
.*.swp
.CFG-*
.DS_Store
.buildConfig.*
.buildStarted
.cpy_copied
.embedthis
.externalToolBuilders
.gdbinit
.ignore
.kdbgrc*
.makedep
.swp
BuildLog.htm
Debug
ES5conform
all/*.c
all/*.es
all/*.h
apps/
archive/*
bench/sunspider
bin/*.a
bin/*.def
bin/*.manifest
bin/*.so
bin/*/*.out
bin/ajs
bin/ajsc
bin/ajssql
bin/angel*
bin/appweb
bin/appweb.conf
bin/arm*
bin/charGen
bin/default-web
bin/ec
bin/ecgi
bin/egen
bin/ejs
bin/ejs.db.so
bin/ejsc
bin/ejscgi
bin/ejsgen
bin/ejsmod
bin/ejssql
bin/ejsvm
bin/ejsweb
bin/ejsweb.es
bin/ejswebserver
bin/ejswebserver.conf
bin/esp
bin/esql
bin/genbyte
bin/http
bin/i586-*
bin/makerom
bin/mime.types
bin/sqlite
bin/x86_64*
build/bin/dsi
build/bin/edep
build/bin/getpath
build/bin/incPatch
build/bin/pp
buildConfig.*
conform
doc/.patched
doc/api/ejs/html
doc/api/ejs/xml
doc/ejsBare.html
es/ejs/*.lst
es/ejs/EjsSlots.java
extensions
genDepend
lib/*.a
lib/*.def
lib/*.so
lib/*/lib*.a
lib/appweb.conf
lib/default
lib/default-web
lib/ejsweb.es
lib/ejswebserver.conf
lib/i586-*
lib/libcrypto*
lib/libec.so
lib/libejs.so
lib/libesp.a
lib/libmpr*
lib/libsqlite.so
lib/libssl*
lib/mime.types
lib/modules/*.so
lib/x86_64*
make.dep
modules/*.astaging
modules/*.def
modules/*.dylib
modules/*.mod
modules/*.so
package/tmp
projects/*.user
projects/Debug
projects/MACOSX
projects/MACOSX/*/*/*/build
projects/MACOSX/*/*/build
projects/Release
projects/ejs/build
projects/save
releases/*.deb
releases/*.dmg
releases/*.gz
releases/*.zip
releases/md5*
releases/tmp
samples/C/native/Control.so
samples/c/*/*.def
samples/c/*/*.so
samples/c/*/main
src/.ejs.slots.h
src/all/*.c
src/all/.ejs.slots.h
src/all/appweb.conf
src/all/db.c
src/all/ec.c
src/all/ec.h
src/all/egen
src/all/ejs.c
src/all/ejs.es
src/all/ejs.h
src/all/ejs.slots.h
src/all/ejsDb.c
src/all/ejsLib.c
src/all/ejsWeb.c
src/all/ejsweb
src/all/ejsweb.es
src/all/ejswebserver.conf
src/all/mime.types
src/all/sqlite.c
src/all/web.c
src/ejsAll.c
src/ejsmod/esp.mod
src/es/*.lst
src/es/*.slots.h
src/es/es4
src/es/file.list
src/es/future
src/es/ss
src/es/sys/Config.es
src/es/web/Rack.nes
src/es/xslt
src/esp/esp.lst
src/esp/file.list
src/include/ejs.*slots.h
src/mpr/http.c
src/mpr/mprLib.c
src/mpr/mprPcre.c
src/mpr/mprSsl.c
src/test/Archive
src/test/ES5conform
src/test/bench/sunspider.2
src/test/bugs
src/test/mozilla
src/test/sputnik
src/test/work
src/types/core/regex/save
src/web/.libs
staging
test/DefaultSlots.java
test/db/test.sdb
test/default.slots.h
test/doc
test/spec
test/ss
test/sunspider
test/work
test/work/*.lst
test/work/db.es
test/work/tt.es
tools/dsi
tools/genDepend
tools/incPatch
tools/pp
test/test.sdb
test/t.es
test/.appweb.pid
test/web/tmp
test/.ejswebserver.pid
modules/*.a
bin/i686*
lib/i686*
modules/i686*
*.vcproj.*user
lib/arm-*/*.def
modules/arm-*.*.def
modules/arm*/*.def
