*.o
*.makedep
*.dll
*.a
*.lib
.buildConfig.*
.buildStarted
buildConfig.make
*.dylib
*.exe
src/include/buildConfig.h
build/bin/buildConfig.sh
extensions
Archive
*.mod
*.lst
bin/ejs*
bin/makerom
build/bin/dsi
build/bin/edep
build/bin/getpath
lib/ejsweb.conf
lib/mime.types
bin/angel
bin/http
bin/jem
test/t.es
test/web/tmp
bin/genbyte
test/.appweb.pid
src/es/ejs.*.slots.h
samples/c/*/main
doc/api/ejs/html
doc/api/ejs/xml
lib/default-web
lib/*.conf
src/es/ejs.slots.h
src/es/.slots.h
src/.ejs.slots.h
all/*.c
all/*.h
all/*.es
test/test.sdb
projects/MACOSX/*/build
projects/MACOSX/*/*/mob.*
projects/MACOSX/*/*/*.pbxuser
*.so
bin/.kdbgrc.*
test/.ejswebserver.pid
*.pdb
*.obj
bin/*.exp
bin/*.def
samples/*/*/*.def
samples/*/*/*.exp
bin/mime.types
bin/default-web
.port.log
